body {
    height: 100%;
    width: 100%;
    background-color: rgb(204, 253, 237);
}

.main-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.photos {
    display: flex;
    justify-content: center;
}

.header {
    font-family: 'Merienda', cursive;
    color: rgb(39, 90, 185);
    font-size: 50px;
    text-align: center;
    padding-bottom: 30px;;
}

.photo-link {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 300px;
    height: 200px;
    font-family: 'Merienda', cursive;
    color: rgb(39, 90, 185);
    font-size: 30px;
    padding: 10px;
}

.meditation-main {
    display: flex;
}

.mantras-menu {
    padding-top: 20px;
    padding-left: 15px;
    width: 300px;
}

.spiral {
    width: 500px;
    height: 500px;
    padding-top: 70px;
    padding-left: 120px;
}

.sounds-menu {
    width: 300px;
    padding-top: 25px;
    padding-left: 15px;

}

.meditation-button {
    width: 100px;
    height: 40px;
    font-family: 'Merienda', cursive;
    font-size: 20px;
    color: rgb(10, 10, 170);
    border-width: 1px;
    border-radius: 5px;
    background-color:rgb(221, 220, 220);
    cursor: pointer;
    border-color: rgb(172, 170, 170);
}

.home-button {
    width: 100px;
    font-family: 'Merienda', cursive;
    color: rgb(28, 4, 167);
    border-width: 1px;
    border-radius: 5px;
    border-color: rgb(161, 156, 156);
    background-color:rgb(221, 220, 220);
    cursor: pointer;
}

.button-container {
    padding-left: 15px;
    cursor: pointer;
}

.audio-list {
    padding-top: 15px;
}

.audio-name {
    font-size: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-family: 'Merienda', cursive;
    color: rgb(39, 90, 185);
}
